[submodule "module/opentelemetry-cpp"]
	path = module/opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp.git
[submodule "module/benchmark"]
	path = module/benchmark
	url = https://github.com/google/benchmark.git
[submodule "module/curl"]
	path = module/curl
	url = https://github.com/curl/curl.git
[submodule "module/proxy-wasm-cpp-sdk"]
	path = module/proxy-wasm-cpp-sdk
	url = https://github.com/proxy-wasm/proxy-wasm-cpp-sdk.git
[submodule "module/envoy"]
	path = module/envoy
	url = https://github.com/envoyproxy/envoy.git
[submodule "nghttp2"]
	path = module/nghttp2
	url = git@github.com:nghttp2/nghttp2.git
