# This rule is not used by the project example-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants read-only access to cache.example.com resources.
# This role is intended for users who need visibility into these resources
# without permissions to modify them. It is ideal for monitoring purposes and limited-access viewing.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: example-operator
    app.kubernetes.io/managed-by: kustomize
  name: redis-viewer-role
rules:
- apiGroups:
  - cache.example.com
  resources:
  - redis
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - cache.example.com
  resources:
  - redis/status
  verbs:
  - get
