apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: default
  labels:
    app: redis
spec:
  selector:
    app: redis
  ports:
  - name: redis
    port: 6379
    targetPort: 6379
    protocol: TCP
  type: ClusterIP
  # Use NodePort if you need external access
  # type: NodePort
  # ports:
  # - name: redis
  #   port: 6379
  #   targetPort: 6379
  #   nodePort: 30379
  #   protocol: TCP